<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login Admin - YCHT</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container" style="margin-top: 80px" align="center">
        <div align="center">
            <img width="200" height="200" src="images/YCHT.jpg">
        </div>
        <br>
        <h1 style="text-align: center">Módulo Administrador</h1>
        <br>
        <h4 style="text-align: center">Nuevo Usuario Administrador</h4>
        <br>
        <form th:action="@{/admin/newAdmin/saveAdmin}" th:object="${usuario}" method="post">
            <div align="center">
                <small style="padding-right: 16px;">Usuario</small>
                <input type="text" id="username" name="username" th:field="*{username}"
                       style="height: 30px; align-content: end;">
            </div>
            <br>
            <div align="center">
                <small>Contraseña&nbsp;</small>
                <input type="password" name="pass" id="pass" th:field="*{pass}"
                       style="height: 30px; align-content: end;">
            </div>
            <br>
            <div align="center">
                <button class="btn btn-success">Crear Nuevo Administrador</button>
            </div>
        </form>
    </div>
</body>

</html>