<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Registro de Donantes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form" action="/" method="post">
                <br><br>
                <span class="login100-form-title p-b-34">Regístrate como Donante</span>
                <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                    <input id="nombre-donante" class="input100" type="text" name="NombreDonante" placeholder="Nombre">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                    <input id="apellido-donante" class="input100" type="text" name="ApellidoDonante" placeholder="Apellido">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                    <input id="username" class="input100" type="text" name="UsernameDonante" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                    <input id="password-donante" class="input100" type="password" name="PassDonante" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                    <input id="edad-donante" class="input100" type="number" name="EdadDonante" placeholder="Edad">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="btn login100-form-btn btn-success">Registrarme</button>
                </div>
            </form>
            <div class="login100-more" style="background-image:url('static/images/login_registro/loginImage.jpg');"></div>
        </div>
    </div>

</div>

<!--<div align="center">
    <h1> Registrarse como nuevo Donante</h1>
    <br />
    <form action="#" th:action="@{/saveDonante}" th:object="${donante}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Nombre:</td>
                <td><input type="text" th:field="*{nombreDonante}" /></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td><input type="text" th:field="*{apellidoDonante}" /></td>
            </tr>
            <tr>
                <td>Edad:</td>
                <td><input type="text" th:field="*{edadDonante}" /></td>
            </tr>
            <tr>
                <td>User:</td>
                <td><input type="text" th:field="*{userDonante}" /></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="text" th:field="*{passDonante}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Guardar</button> </td>
            </tr>
        </table>
    </form>
</div> -->
</body>
</html>