<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div align="center">
    <h1>Nuevo Donante</h1>
    <br />
    <form action="#" th:action="@{/saveDonante}" th:object="${donante}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Nombre:</td>
                <td><input type="text" th:field="*{nombreDonante}" /></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td><input type="text" th:field="*{apellidoDonante}" /></td>
            </tr>
            <tr>
                <td>Edad:</td>
                <td><input type="text" th:field="*{edadDonante}" /></td>
            </tr>
            <tr>
                <td>User:</td>
                <td><input type="text" th:field="*{userDonante}" /></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="text" th:field="*{passDonante}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Guardar</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>