<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Donantes - Admin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/body.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="mantenimiento.html">YOU CAN HELP TOO! ADMIN</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">SOLICITUDES</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">DONADORES</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <h2>Listado de donantes</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>User</th>
                    <th></th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="donante: ${donantes}">
                <!--    <td data-th-text="${donante.idDonante}"></td>-->
                    <td data-th-text="${donante.nombreDonante}"></td>
                    <td data-th-text="${donante.apellidoDonante}"></td>
                    <td data-th-text="${donante.userDonante}"></td>
                    <td><a th:href="@{editarDonante/}+ ${donante.idDonante}" th:text="'Editar'" class="btn btn-outline-success"></a></td>
                    <td><a th:href="@{borrar/} + ${donante.idDonante}" th:text="'Eliminar'" class="btn btn-outline-danger"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>