<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Causas</title>
    <link  rel="icon"   href="images/heart_icon1.png" type="image/png" />
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link type="text/css" rel="stylesheet" href="css/heading.css">
    <link type="text/css" rel="stylesheet" href="css/body.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{admin}">YOU CAN HELP TOO! ADMIN</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/admin/beneficiarios/verBeneficiarios}">BENEFICIARIOS</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2>Listado de Causas</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Tipo</th>
                <th>Detalle</th>
                <th>Estado</th>
                <th>Beneficiario</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="causa, causaStatus: ${causas}">
                <!--    <td data-th-text="${donante.idDonante}"></td>-->
                <td th:text="${causaStatus.count}">1</td>
                <td th:text="${causa.nombre}"></td>
                <td th:text="${causa.detalleCausa}"></td>
                <td th:text="${causa.estado}"></td>
                <td th:text="${causa.getBeneficiario().getNombreBeneficiario()}"></td>
             </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>