<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Beneficiarios</title>
    <link  rel="icon"   href="images/heart_icon1.png" type="image/png" />
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link type="text/css" rel="stylesheet" href="css/heading.css">
    <link type="text/css" rel="stylesheet" href="css/body.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{admin}">YOU CAN HELP TOO! ADMIN</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/admin/beneficiarios/verBeneficiarios}">BENEFICIARIOS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/admin/beneficiarios/solicitudesB}">SOLICITUDES</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/admin/causas/verCausas}">CAUSAS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h1>Mantenimiento beneficiarios</h1>
            </div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a th:href="@{/admin/beneficiarios/verBeneficiarios}">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="images/mantenimiento/beneficiarios2.png" alt="Vivienda"/>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <a th:href="@{/admin/beneficiarios/solicitudesB}">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="images/mantenimiento/solicitudes.png" alt="Alimentos"/>
                    </div>
                </a>
            </div>
        </div>
    </section>

</body>
</html>