<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div align="center">
    <h1>Registrarse como nuevo Beneficiario</h1>
    <br />
    <form action="#" th:action="@{/saveBeneficiario}" th:object="${beneficiario}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Nombre de la fundacion:</td>
                <td><input type="text" th:field="*{nombreBeneficiario}" /></td>
            </tr>
            <tr>
                <td>descripcion:</td>
                <td><input type="text" th:field="*{descripcionBeneficiario}" /></td>
            </tr>
            <tr>
                <td>Año de fundacion:</td>
                <td><input type="text" th:field="*{edadBeneficiario}" /></td>
            </tr>
            <tr>
                <td>User:</td>
                <td><input type="text" th:field="*{userBeneficiario}" /></td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="text" th:field="*{passBeneficiario}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Guardar</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>