<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Beneficiarios</title>
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link type="text/css" rel="stylesheet" href="css/heading.css">
    <link type="text/css" rel="stylesheet" href="css/body.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{admin}">YOU CAN HELP TOO! ADMIN</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">SOLICITUDES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">DONADORES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2>Listado de Beneficiarios</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Fundacion</th>
                <th>Año de Inicio</th>
                <th>Descripcion</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beneficiario, beneficiarioStatus: ${beneficiarios}">
                <!--    <td data-th-text="${donante.idDonante}"></td>-->
                <td th:text="${beneficiarioStatus.count}">1</td>
                <td th:text="${beneficiario.nombreBeneficiario}"></td>
                <td th:text="${beneficiario.edadBeneficiario}"></td>
                <td th:text="${beneficiario.descripcionBeneficiario}"></td>
                <td><a th:href="@{'/admin/beneficiarios/editBeneficiario/' + ${beneficiario.idBeneficiario}}" th:text="'Editar'" class="btn btn-outline-success"></a></td>
                <td><a th:href="@{'/admin/beneficiarios/deleteBeneficiario/' + ${beneficiario.idBeneficiario}}" th:text="'Eliminar'" class="btn btn-outline-danger"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>