<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>YCHT - Bienvenido, donante</title>
    <link  rel="icon"   href="images/heart_icon1.png" type="image/png" />
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css" type="text/css">
    <link rel="stylesheet" href="css/body.css" type="text/css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger">YOU CAN HELP TOO!</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/donante">BENEFICIARIOS</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">CAUSAS</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 "><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/donante/perfil">MI PERFIL</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2>Listado de Beneficiarios</h2>
        <br><!--
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Año de Inicio</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beneficiario, beneficiarioStatus: ${beneficiarios}">
                <td th:text="${beneficiarioStatus.count}">1</td>
                <td th:text="${beneficiario.nombreBeneficiario}"></td>
                <td th:text="${beneficiario.edadBeneficiario}"></td>
                <td th:text="${beneficiario.descripcionBeneficiario}"></td>
                <td><a th:text="'Ver perfil'" class="btn btn-outline-success"></a></td>
            </tr>
            </tbody>
        </table>-->
    </div>
    <div class="container">
        <div class="card-columns">
            <div class="card" th:each="beneficiario, beneficiarioStatus: ${beneficiarios}">
                <img class="img-fluid" src="images/mantenimiento/beneficiarios.png" alt="Vivienda"/>
                <h1 th:text="${beneficiario.nombreBeneficiario}"></h1>
                <p class="title" th:text="${beneficiario.descripcionBeneficiario}"></p>
                <div class="card-body">
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>
                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="container">
                                <div class="row my-2">
                                    <div class="col-lg-8 order-lg-2">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content py-4">
                                            <div class="tab-pane active" id="profile">
                                                <h5 class="mb-3">User Profile</h5>
                                                <h2 th:text="${beneficiario.nombreBeneficiario}"></h2>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h6>About</h6>
                                                        <p>
                                                            Web Designer, UI/UX Engineer
                                                        </p>
                                                        <h6>Hobbies</h6>
                                                        <p>
                                                            Indie music, skiing and hiking. I love the great outdoors.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                                                        <table class="table table-sm table-hover table-striped">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                            </div>
                                            <div class="tab-pane" id="messages">
                                                <div class="alert alert-info alert-dismissable">
                                                    <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                                                </div>
                                                <table class="table table-hover table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="edit">
                                                <form role="form">
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" value="Jane">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" value="Bishop">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="email" value="email@gmail.com">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Company</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Website</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="url" value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" value="" placeholder="Street">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                                        <div class="col-lg-6">
                                                            <input class="form-control" type="text" value="" placeholder="City">
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input class="form-control" type="text" value="" placeholder="State">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" value="janeuser">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="password" value="11111122333">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="password" value="11111122333">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                                        <div class="col-lg-9">
                                                            <input type="reset" class="btn btn-secondary" value="Cancel">
                                                            <input type="button" class="btn btn-primary" value="Save Changes">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 order-lg-1 text-center">
                                        <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                                        <h6 class="mt-2">Upload a different photo</h6>
                                        <label class="custom-file">
                                            <input type="file" id="file" class="custom-file-input">
                                            <span class="custom-file-control">Choose file</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="page-section portfolio" id="about">
    <div class="container">
        <h2>Listado de donantes</h2>
        <form th:action="@{/}">
            Filtro: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
            &nbsp;
            <input class="btn btn-info" type="submit" value="Buscar" />
            &nbsp;
            <input class="btn btn-info" type="button" value="Limpiar" id="btnClear" onclick="clearSearch()" />
        </form>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="donante, dontanteStatus: ${donantes}">
                <td th:text="${dontanteStatus.count}">1</td>
                <td th:text="${donante.nombreDonante}"></td>
                <td th:text="${donante.apellidoDonante}"></td>
                <td th:text="${donante.edadDonante}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>-->
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</body>
</html>