<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>YCHT - Bienvenido, beneficiario</title>
    <link  rel="icon"   href="images/heart_icon1.png" type="image/png" />
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css" type="text/css">
    <link rel="stylesheet" href="css/body.css" type="text/css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger">YOU CAN HELP TOO!</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">SOLICITUDES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">DONADORES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<!--
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2>Listado de Beneficiarios</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Fundacion</th>
                <th>Año de Inicio</th>
                <th>Descripcion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beneficiario, beneficiarioStatus: ${beneficiarios}">
                <td th:text="${beneficiarioStatus.count}">1</td>
                <td th:text="${beneficiario.nombreBeneficiario}"></td>
                <td th:text="${beneficiario.edadBeneficiario}"></td>
                <td th:text="${beneficiario.descripcionBeneficiario}"></td>
               </tr>
            </tbody>
        </table>
    </div>
</section>-->
<section class="page-section portfolio" id="about">
    <div class="container">
        <h2>Listado de donantes</h2>
        <form th:action="@{/beneficiario}">
            Filtro: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
            &nbsp;
            <input class="btn btn-info" type="submit" value="Buscar" />
            &nbsp;
            <input class="btn btn-info" type="button" value="Limpiar" id="btnClear" onclick="clearSearch()" />
        </form>
        <br><!--
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="donante, dontanteStatus: ${donantes}">
                <td th:text="${dontanteStatus.count}">1</td>
                <td th:text="${donante.nombreDonante}"></td>
                <td th:text="${donante.apellidoDonante}"></td>
                <td th:text="${donante.edadDonante}"></td>
                <td><a th:href="@{/beneficiario/perfilD}" th:text="'Ver perfil'" class="btn btn-outline-success"></a></td>
                </tr>
            </tbody>
        </table>-->
    </div>
    <div class="container">
        <div class="card-columns">
            <div class="card" th:each="donante, dontanteStatus: ${donantes}">
                <img class="img-fluid" src="images/mantenimiento/donantes.png" alt="Vivienda"/>
                <h1 th:text="${donante.nombreDonante}+' '+${donante.apellidoDonante}"></h1>
                <p class="title">CEO & Founder, Example</p>
                <p>Harvard University</p>
                <div class="card-body">
                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <p><button>Contact</button></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/beneficiario}]]";
    }
</script>
</body>
</html>